.color {
	margin: 0 0.5em;
	display: flex;
	align-items: center;
}

.showcase {
	width: 1em;
	height: 1em;
	border-radius: 4px;

	display: inline-block;
}

.name {
	margin-left: 0.5em;
	text-transform: lowercase;
	text-transform: capitalize;
}