.main {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main .logo {
	width: 24em;
	height: 24em;
	border-radius: 12em;

	padding: 2em;
}

.titles {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titles .title {
	font-size: 4em;
	width: auto;
}

.invite-link {
	text-decoration: none;
}

.info {
	margin-bottom: 1.5em;
}

.invite-link .text{
	width: 12em;
	height: 4em;
	
	background-color: #7289DA;
	color: white;
	
	border-radius: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.invite-link .text img {
	width: 3em;
	height: 3em;
	margin: 0 0.5em;
}
.invite-link .text b {
	margin-right: 2.5em;
}

@media only screen and (max-width: 600px) {

	.main .logo {
		width: 16em;
		height: 16em;
		border-radius: 12em;

		padding: 2em;
	}

}